.link-secondary {
  color: RGBA(var(--bs-secondary-rgb),var(--bs-link-opacity,1))!important;
  -webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb),var(--bs-link-underline-opacity,1))!important;
  text-decoration-color: RGBA(var(--bs-secondary-rgb),var(--bs-link-underline-opacity,1))!important;
}

:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-body-bg)!important;
}

